<!DOCTYPE HTML>
<html>
<head>
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../static/about-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Supermercado+One&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
    <title>Isles.io</title>
</head>
 <body>
   <audio src="static/mainMenuMusic.mp3"></audio>
  <script src="https://unpkg.com/pixi.js@8.1.1/dist/pixi.min.js"></script>
<script src="https://unpkg.com/@pixi/sound/dist/pixi-sound.js"></script>
<script src="static/Music.js"></script>
<!--    <div id="MainScreen">-->
<!--    </div>-->
    <div id="NEbar">
        <a href="/" onclick="SaveMusicPos()">

            <div class="NEbar">

                <img src="static\exit.svg" class="unselectable">
            </div>
        </a>
        <a href="https://github.com/users/BRO-Fedka/projects/4/views/1" >

            <div class="NEbar">

                <img src="static\checklist.svg" class="unselectable">
            </div>
        </a>
    </div>
   {% autoescape false %} {{ content }} {% endautoescape %}

 </body>
</html>
