<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Supermercado+One&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
    <title>Isles.io</title>
</head>
<body>
 <audio src="static/mainMenuMusic.mp3"></audio>
 <script src="https://unpkg.com/pixi.js@8.1.1/dist/pixi.min.js"></script>
<script src="https://unpkg.com/@pixi/sound/dist/pixi-sound.js"></script>
<script src="static/music.js"></script>
<div id="MainScreen">
</div>
<div id="MoneyNum" class="unselectable"><img src="..\\static\goldshell.svg"><b>   {{money}}</b></div>
<div id="NEbar">
    <a href="/"  onclick="SaveMusicPos()">

        <div class="NEbar">

            <img src="static\exit.svg" class="unselectable">
        </div>
    </a>
</div>
    <div id="SelectForm" class="scrollbar" style="padding:10px; width:280px; height:280px" >
        <a href="/image"  onclick="SaveMusicPos()">
            <div id="avvobv">

                <img src="static\Playericons\{{ava}}.svg">
            </div>
        </a>
        <h2>Awards</h2>
    </div>
	<div id="MainForm" class="scrollbar" >

        <h1>{{nickname}}</h1>

        <div id="XPscreen" class="scrollbar">

            <span id="xp"><b id="lvl">{{lvl}}lvl</b>{{xp}}xp</span>
            <div id="pbar" style="width: {{maxlvl*150+50}}px;">
                <div style="width:{{lvl*150+xppx}}px"></div>
            </div>

<!--            <div class="lvlsign completedsign" style="left:150px"><b class="unselectable">1</b> <div></div></div>-->
<!--            <div class="lvlsign" style="left:300px"><b class="unselectable">2</b> <div></div> </div>-->
<!--            <div class="lvlsign" style="left:450px"><b class="unselectable">3</b><div></div></div>-->
<!--            <div class="lvlsign" style="left:600px"><b class="unselectable">4</b><div></div></div>-->
<!--            <div class="lvlsign" style="left:750px"><b class="unselectable">5</b><div></div></div>-->
<!--            <div class="lvlsign" style="left:900px"><b class="unselectable">6</b><div></div></div>-->
<!--            <div class="lvlsign" style="left:1050px"><b class="unselectable">7</b><div></div></div>-->
<!--            <div class="lvlsign" style="left:1200px"><b class="unselectable">8</b><div></div></div>-->
<!--            <div class="lvlsign" style="left:1350px"><b class="unselectable">9</b><div></div></div>-->
<!--            <div class="lvlsign" style="left:1500px"><b class="unselectable">10</b><div></div></div>-->
            {% for i in range(1,maxlvl+1) %}
                    {% if i<= lvl %}
<div class="lvlsign completedsign" style="left:{{i*150}}px">
    <b class="unselectable">{{i}}</b>

        <div class="root"></div>
    {% for j in lvlitems[i-1] %}
        <div class="vroot"></div>

        {% if j[2] == 'vehicle' %}
<div class="lvl-item"><img src="..\static\veh{{j[5]}}.svg" class="unselectable svimgveh"></div>



        {%endif%}
        {% if j[2] == 'skin' %}
        <div class="lvl-item"><img src="..\static\skin.svg" class="unselectable" style = "background-color: {{j[3]}}"></div>

        {%endif%}
        {% if j[2] == 'image' %}
    <div class="lvl-item"><img src="..\static\Playericons\{{j[3]}}.svg" class="unselectable" ></div>

        {%endif%}
    {% endfor %}


</div>
                    {% else %}
<div class="lvlsign incompletedsign" style="left:{{i*150}}px">
    <b class="unselectable">{{i}}</b>
    <div class="root"></div>
    {% for j in lvlitems[i-1] %}
        <div class="vroot"></div>

        {% if j[2] == 'vehicle' %}
<div class="lvl-item"><img src="..\static\veh{{j[5]}}.svg" class="unselectable svimgveh"></div>



        {%endif%}
        {% if j[2] == 'skin' %}
        <div class="lvl-item"><img src="..\static\skin.svg" class="unselectable" style = "background-color: {{j[3]}}"></div>

        {%endif%}
        {% if j[2] == 'image' %}
    <div class="lvl-item"><img src="..\static\Playericons\{{j[3]}}.svg" class="unselectable" ></div>

        {%endif%}
    {% endfor %}
</div>
                    {% endif %}


             {% endfor %}

        </div>
    </div>
	<div id="AboutForm" >

        <h2>Statistics</h2>
        <div class="statpan">
        Total kills:
        <b>{{kills}}</b>
        </div>
        <div class="statpan">
            Total deats:
            <b>{{deaths}}</b>
        </div>
        <div class="statpan">
            Total time:
            <b>{{time}}</b>
        </div>
        <div class="statpan">
            (Kills/Deaths):
            <b>{{KD}}</b>
        </div>
    
        
    </div>
<div id="SEbar" > <a href="\logout"  onclick="SaveMusicPos()">Logout</a></div>
</body>

</html>