<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Supermercado+One&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
    <title>Sorry, we don't support mobile platforms yet.</title>
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
</head>
 <body>
    <div id="MainScreen">
    </div>
    <div id="TitleScreen" class="unselectable">
        <h1 id="LoadingTitle">don't support mobile yet</h1>
        <h1 id="IslesTitle">Isles Assault</h1>
        <img src="static/titlecannon.svg" id="TitleCannon" alt="canon">
    </div>
 </body>
</html>
