
    <div class="CenterForm">
        {% if vehicle[4] == 'V' %}
            <img src="{{vehicle[5]}}" class="unselectable svimgveh">
        {%endif%}
        {% if vehicle[4] == 'S' %}
                    <img src="..\static\paintBucket.svg" class="unselectable" style = "background-color: {{vehicle[5]}}">
        {%endif%}
        {% if vehicle[4] == 'I' %}
                    <img src="{{vehicle[5]}}" class="unselectable" >
        {%endif%}
    </div>
    {%if desc%}
        <div class="scrollbar LeftForm">
               <ul type="disc">

                   {%for i in desc%}
                        <li>{{i}}</li>
                    {%endfor%}
               </ul>
        </div>
    {%endif%}
    <div class="RightForm" style="overflow-y: hidden;">
            <h1> {{vehicle[1]}}</h1>
            {% if vehicle[2] ==0 and vehicle[3] ==0%}
            <h2>Free</h2>
            {% elif vehicle[2] ==0 %}
            <h2>LVL required</h2>
            {%else%}
            <h2><img src="..\\static\goldshell.svg" width="20px" height="20px">   {{vehicle[2]}}</h2>
            {%endif%}

        {% if logged %}
            {% if purch %}
            <form >
            <input disabled="disabled" id="ItemBuyBTN" type="submit" value="Purchased"  style="pointer-events: none; "/>
            </form>
            {%else%}
                {% if vehicle[2] > 0 %}
                    <form action="/shop/{{id}}" method="post" >
                    <input {% if vehicle[2] > money %} disabled="disabled" style="pointer-events: none; "{%endif%} id="PlayBTN" type="submit" value="Buy" onclick="SaveMusicPos()"/>
                    </form>
                {%else%}
                    {% if vehicle[3] <= lvl %}
                        <form action="/shop/{{id}}" method="post" >
                        <input  id="ItemBuyBTN" type="submit" value="Get it !" onclick="SaveMusicPos()"/>
                        </form>
                    {%endif%}
                {%endif%}

            {%endif%}
{%endif%}
<br><br>

    </div>


