{"MoneyB":{{money}}}$
{% if method == 'GET' %}
    <div class="CenterForm">
        {% if vehicle[4] == 'V' %}
            <img src="{{vehicle[5]}}" class="unselectable svimgveh" alt="Vehicle icon">
        {%endif%}
        {% if vehicle[4] == 'S' %}
                    <img alt="Skin icon" src="../static/paintBucket.svg" class="unselectable" style = "background-color: {{vehicle[5]}}">
        {%endif%}
        {% if vehicle[4] == 'I' %}
                    <img alt="Image icon" src="{{vehicle[5]}}" class="unselectable" >
        {%endif%}
    </div>
    {%if desc%}
        <div class="scrollbar LeftForm">
               <ul type="disc">

                   {%for i in desc%}
                        <li>{{i}}</li>
                    {%endfor%}
               </ul>
        </div>
    {%endif%}
    <div id="ItemBuyForm" class="RightForm" style="overflow-y: hidden;">
        {%endif%}
            <h1> {{vehicle[1]}}</h1>
            {% if vehicle[2] ==0 and vehicle[3] ==0%}
            <h2>Free</h2>
            {% elif vehicle[2] ==0 %}
            <h2>LVL required</h2>
            {%else%}
            <h2><img alt="goldshell" src="static/goldshell.svg" width="20px" height="20px">   {{vehicle[2]}}</h2>
            {%endif%}

        {% if logged %}
            {% if purch %}

            <input disabled="disabled" id="ItemBuyBTN" type="submit" value="Purchased"  style="pointer-events: none; "/>

            {%else%}
                {% if vehicle[2] > 0 %}

                    <input {% if vehicle[2] > money %} disabled="disabled" style="pointer-events: none; "{%endif%} id="ItemBuyBTN" type="submit" value="Buy" onclick="buy_item(this,{{id}})"/>

                {%else%}
                    {% if vehicle[3] <= lvl %}

                        <input  id="ItemBuyBTN" type="submit" value="Get it !" onclick="buy_item(this,{{id}})"/>

                    {%endif%}
                {%endif%}

            {%endif%}
{%endif%}
<br><br>
{% if method == 'GET' %}
    </div>
{%endif%}

