span.ShopFilter{
    color: #fff;
    font-family: 'Fredoka One', cursive;
}
input.ShopFilter{
    width:16px;
    height:16px;
    position:relative;
    top: 1px;

    accent-color: #f00;
}
input.ShopFilter:checked{
background-color: rgba(255,255,255,0.9);
}
#FilterImage:checked ~ #ShopForm > .I{
display: none;
}
#FilterSkin:checked ~ #ShopForm > .S{
display: none;
}
#FilterVeh:checked ~ #ShopForm > .V{
display: none;
}
#FilterPrch:checked ~ #ShopForm > .Purchased{
display: none;
}
#FilterNtPrch:checked ~ #ShopForm > .notPurchased{
display: none;
}
#ShopForm{
	align-content: center;
	border-radius: 10px;
	position: fixed;
	/*transform: translateX(-50%) translateY(-50%);*/
	background-color: rgba(0,0,0,0.2);
	top: 40px;
	left:40px;
	padding: 5px;
	/*margin:75px;*/
	width: calc(100% - 110px);
	height: calc(100% - 90px);
	z-index: 10;
	display: flex;
	justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
	align-content: flex-start;
	overflow-y: scroll;
	overflow-x: hidden;
}
div.ShopCard{
	/*align-content: center;*/
	border-radius: 5px;
	cursor: pointer;
	/*position: fixed;*/
	margin:5px;
	/*transform: translateX(-50%) translateY(-50%);*/
	background-color: rgba(0,0,0,0.2);
	padding: 5px;
}
a.ShopCard{
	text-decoration: none;
	color: #fff;
}
a:hover > .ShopCard{


	background-color: rgba(0,0,0,0.5);
}
div.ShopCard  > img{
	margin-top: 5px;
	width: 150px;
	height: 150px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 5px;
	border: 2px rgba(0,0,0,0.2) solid;

}
div.ShopCard > div.imgbg {
	margin-top: 5px;
	width: 150px;
	height: 150px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 5px;
	border: 2px rgba(0,0,0,0.2) solid;
}
div.ShopCard:hover > div.imgbg > img{
	animation-name: rotation;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	position: relative;
	left: 50%;
	top:50%;

}
img.svimgveh{
	animation-name: rotation;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	position: relative;
	left: 50%;
	top:50%;
}
div.item-lbl{
width:150px;
height:24px;
overflow:hidden;

}
div.item-lbl > span{
	display: inline;
	font-family: 'Fredoka One', cursive;
	font-size: 24px;
	white-space: nowrap;

}
.MoneyNum >img{
	width: 20px;
	height: 20px;
}
.MoneyNum >b{
	margin-left: 5px;
	/*float: right;*/
}
.MoneyNum{
	z-index: 20;
	padding:5px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.2);
	font-family: 'Fredoka One', cursive;
	font-size: 16px;
	color:#fff;
	display: flex;
	/*display: inline-block;*/
}
@keyframes shopGetIt {
  0% {transform: scale(1); ro}
  25%{transform: scale(1.25) rotate(-10deg);}
  50% {transform: scale(1.5);}
  75%{transform: scale(1.25) rotate(10deg);}
  100% {transform: scale(1);}
}
.alarm-mark{
  animation-name: shopGetIt;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}