#XPscreen{
position:absolute;
left:10px;
right: 10px;
width: 280px;
overflow-x: scroll;
overflow-y: hidden;
height: 200px;
background: rgba(0,0,0,0.2);
border-radius: 5px;
}

#lvl{

font-family: 'Fredoka One', cursive;
	font-size: 40px;
margin-right:5px;
	color: rgba(255,255,255,0.8);

}
#xp{
position:fixed;
font-family: 'Fredoka One', cursive;
	font-size: 20px;
margin-left:5px;
	color: rgba(255,255,255,0.8);

}
.statpan{
	margin-bottom: 5px;
	font-family: 'Fredoka One', cursive;
	font-size: 20px;
	padding: 5px;
	border-radius: 5px ;
	position: relative;
	left: 10px;
	width:270px;
	color: rgba(255,255,255,0.8);
	background-color: rgba(0,0,0,0.2);
}
.statpan b{
	position: absolute;
	right: 5px;
}
.statpan:hover{

	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,0.5);
}
#pbar{
	overflow: hidden;
	/* border-radius: 5px;; */
position:absolute;
bottom:5px;
height: 10px;
left:0px;

background: rgba(0,0,0,0.2);
}
.lvlsign{
	border-radius:0px;
	position: absolute;
	transform: translateX(-50%);
	bottom: 25px;
	width: 30px;
	height: 30px;
	text-align: center;
	border: rgba(0,0,0,0.2) solid 5px;
	color: rgba(0,0,0,0.2) ;
	font-family: 'Fredoka One', cursive;
	font-size: 20px;

}
.lvlsign div.root{
	position: absolute;
	background-color: rgba(0,0,0,0.2) ;
	width: 5px;
	left: 50%;
	transform: translateX(-50%);
	height:20px;
	bottom:-25px;

}
.lvlsign span.accItemTitle{
position: absolute;
color:rgba(255,255,255,0.5);
text-align:center;
left: -60px;
transform:translateX(-50%);
top: -60px;

}
.lvlsign:hover span.accItemTitle{
color:rgba(255,255,255,1);
}

.lvlsign div.vroot{
	position: absolute;
	background-color: rgba(0,0,0,0.2) ;
	width: 10px;
	top: 50%;
	transform: translateY(-50%);
	height:5px;
	left:-15px;

}
.lvlsign.completedsign{
	/* bottom: 10px; */
	border: rgba(255,255,255,0.8) solid 5px;
	/* border-bottom: transparent; */
	color: rgba(255,255,255,0.8) ;
	background-color: rgba(0,0,0,0.5);

}
.lvlsign.completedsign .lvl-item{
	/* bottom: 10px; */
	border: rgba(255,255,255,0.8) solid 5px;
	/* border-bottom: transparent; */
	color: rgba(255,255,255,0.8) ;
	background-color: rgba(0,0,0,0.5);
	border-bottom: none;

}
.lvlsign.completedsign .lvl-item img{
	opacity:100%;

}
.lvlsign b{
	position: absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);


}
.lvl-item{
position:absolute;
left: -100px;
top: -35px;
width:75px;
height:75px;
border: rgba(0,0,0,0.2) solid 5px;
border-bottom: none;

}
.lvl-item a img{
width:100%;
height:100%;
opacity:50%;
}


.lvlsign:hover  div.lvl-item{
	border-color:rgba(255,255,255,1) ;
	color:rgba(255,255,255,1);


}
.lvlsign.incompletedsign:hover  div.lvl-item{
	border-bottom: rgba(255,255,255,1) solid 5px;

}
.lvlsign:hover  div.lvl-item a img{
	opacity:100%;

}
.lvlsign:hover{
	border-color:rgba(255,255,255,1) ;
	color:rgba(255,255,255,1) ;

}
#pbar div{

height:100%;
position:absolute;

background: rgba(255,255,255,0.8)
}
#pbar:hover div{

background: rgba(255,255,255,1)
}
#avvobv{
background: #e6decf;
width:calc(90%-20px);
height:calc(90%-20px);
border: 8px #e6decf solid;
outline: 10px dotted #e6decf;
outline-offset: -8px;
}
#avvobv img{
background: #fff;
width:100%;
height:100%;
}