#SNvk{
background-color:#0077FF;
}
#SNvk:hover{
background-color:#0066ee;
}
#SNgh{
background-color:#222;
}
#SNgh:hover{
background-color:#000;
}
#SNdiscord{
background-color:#5865F2;
}
#SNdiscord:hover{
background-color:#4855e2;
}
#GameVersion{
position: fixed;
left: 5px;
	bottom: 5px;
	pointer-events:none;
	font-family: 'Fredoka One', cursive;
	font-size: 12px;
	color: #fff;
	z-index: 500;
}

div#text,div#online{
padding-left:30px;
padding-right:30px;
    color: #fff;
    font-family: 'Fredoka One', cursive;

}
#vehprev{

animation: animloader 25s linear infinite;
}
.loader {
  margin: auto;
  border: 10px solid rgba(0,0,0,0.1);
  border-radius: 50%;
  border-top: 10px solid rgba(0,0,0,0.25);
  width: 50px;
  height: 50px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  animation: animloader 1s linear infinite;
}
.invLoader {

  margin: auto;
  margin-bottom: 20px;
  border: 5px solid transparent;
  border-radius: 50%;
  border-top: 5px solid #00ff00;
  width: 25px;
  height: 25px;
  animation: animloader 1s linear infinite;
}
#dmpprev{
margin-top:10px;
position:absolute;

margin-left:15px;
width:calc(100% - 15px);
}
#dmpprev div{
position:absolute;
top:0;
left:calc(50% - 25px);

}
#impprev{
position:absolute;
border-radius:5px;
z-index:10;
width:100%;


}
@keyframes animloader {
  0% { transform: rotate(0deg) ; }
  100% { transform: rotate(360deg); }
}

div#online{
margin-top:5px;
font-size: 20px;
}
div#text{
font-size: 15px;
}
/* .completedsign div {
background: transparent;
} */


#pbar:hover ~ .lvlsign{
	border-color:rgba(255,255,255,1) ;
	color:rgba(255,255,255,1) ;
}



.errnav{
position:fixed;
transform:translateY(-200px) translateX(-50%);
top:50%;
left:50%;
z-index:25;
width:280px;
padding:10px;
text-align:center;
border-radius:10px;
cursor:pointer;
background:#ff8888;
z-index:2000;
border: dashed 2px #f44;
font-family: 'Fredoka One', cursive;
color:#f44;
}
#SEbar{
    z-index:50;
    position:fixed;
    bottom:10px;
    right:10px;
    border-radius:3px;
    background-color: rgba(0,0,0,0.2);
    padding:10px;
    font-size:20px;
    cursor:pointer;
	font-family: 'Fredoka One', cursive;
	color:rgba(255,255,255,0.8);
	text-align: center;
}

#SEbar:hover{
    color:#fff;
    background-color: rgba(0,0,0,0.5);
}

option{
border:none;
background-color: rgba(0,0,0,0);
}

*{
/*transition: 0.25s;*/
}
html {
overflow:hidden;
}
body{
overflow:hidden;
	margin: 0;
	background: #2879AD;
}

.BGSVGLayer{
position:fixed;
background-repeat: no-repeat;
background-size: cover;
opacity:100%;
transition: opacity 0.5s;
background-position:center ;
width:100%;
height:100%;

}

#MainScreen{
    left:50%;
    overflow: hidden;
	z-index: 5;
	background-color: #2879AD;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    transform: translateX(-50%);
    width:calc(100% + 384px);
    height:100%;
	position: fixed;
    color: #fff;
    font-family: 'Fredoka One', cursive;
    font-size: 100px;
    text-align: center;
}
#MainCanvas{
    cursor: crosshair;
	display: block;
	background: #2879AD;
	text-align: center;
	/*width: 100%;*/
	/*height: 100%;*/
}

.CenterForm{
	overflow: hidden;
	border-radius: 10px;
	position: fixed;
	transform: translateX(-50%) translateY(-50%);
	background-color: rgba(0,0,0,0.2);
	top: 50%;
	left:50%;
	width: 300px;
	height: 300px;
	z-index: 10;
}
#SettingsForm{
	border-radius: 10px;
	position: fixed;
	text-align: center;
	transform: translateX(-50%) translateY(-50%);
	background-color: rgba(0,0,0,0.2);
	top: 50%;
	left:50%;
	width: 300px;
	height: 300px;
	z-index: 10;
}
#SettingsForm > input[type="range"]{
    width: 250px;
}
.LeftForm{
	overflow-x: hidden;


	border-radius: 10px;
	position: fixed;
	transform: translateX(-50%) translateX(-310px) translateY(-50%);
	background-color: rgba(0,0,0,0.2);
	top: 50%;
	left:50%;
	width: 300px;
	height: 300px;
	z-index: 10;
}
.RightForm{
	overflow-x: hidden;
	overflow-y: scroll;

	border-radius: 10px;
	position: fixed;
	transform: translateX(-50%) translateX(310px) translateY(-50%);
	background-color: rgba(0,0,0,0.2);
	top: 50%;
	left:50%;
	width: 300px;
	height: 300px;
	z-index: 10;
}
#ColorMenu{
	color: transparent;
	overflow-x: scroll;
	overflow-y: hidden;
	display: flex;
	background-color: rgba(0,0,0,0.2);
	margin-left: 10px;
	/*margin-right: 10px;*/
	border-radius: 5px;
}
input.cl{
    display:none;
}
div.cl{
	cursor: pointer;
	width: 30px;
	height: 30px;
	margin: 5px;
	border-radius: 5px;
	z-index: 15;
	border: 3px solid;
	border-color: rgba(0,0,0,0.5);
}
div.cl:hover{
	border-color: #ffffff88;
}

input.cl:checked + div.cl{
	border-color: #ffffff;
}
#VehicleSelect{
	background-color: rgba(0,0,0,0.2);
	border:none;
	color: #ffffff;
	padding: 5px;

	border-radius: 5px;
	margin-left: 15px;
	width: 270px;
	/*transform: translateX(-50%);*/
	font-size: 24px;
	font-family: 'Fredoka One', cursive;

}
#VehicleSelect:focus{
	border:none;
	outline: none;

}
#ServerSelect{
	background-color: rgba(0,0,0,0.2);
	border:none;
	color: #ffffff;
	padding: 5px;
	display:none;
	border-radius: 5px;
	margin-left: 15px;
	width: 270px;
	/*transform: translateX(-50%);*/
	font-size: 24px;
	font-family: 'Fredoka One', cursive;

}

#ServerSelect:focus{
	border:none;
	outline: none;

}


h2{
margin-top: 5px;
margin-bottom: 5px;
cursor:default;
	font-family: 'Fredoka One', cursive;
	color:rgba(255,255,255,0.8);

	text-align: center;
}
h1{
margin-top: 10px;
margin-bottom:10px;
cursor:default;
	font-family: 'Fredoka One', cursive;
	color:rgba(255,255,255,0.8);

	text-align: center;
}
li{
cursor:default;
	font-family: 'Fredoka One', cursive;
	color:rgba(255,255,255,0.8);


}
h2:hover{
color:#fff;
}
h1:hover{
color:#fff;
}
li:hover{
color:#fff;
}
input:focus {outline:none!important;}
#NameField{
	color: #ffffff;
    width: calc(100% - 30px);
    margin-left:15px;
    padding:0;
	background-color: rgba(0,0,0,0.2);
	font-family: 'Fredoka One', cursive;
	font-size: 24px;
	border-radius: 4px;
	border:0;outline:0;
	border: none;
	/* text-align: center; */
	/*border-color: rgba(0,0,0,0.5);*/
}
input.inp{
	position: relative;
	color: #ffffff;
	transform: translateX(-50%);
	left: 140px;
	margin: 10px;
	margin-top: 5px;
	margin-bottom: 0;
	background-color: rgba(0,0,0,0.2);
	font-family: 'Fredoka One', cursive;
	font-size: 24px;
	border-radius: 4px;
	border:0;
	outline:0;
	border: none;
	width: calc(100% - 30px)
}
label.inp{
    display:inline-block;
	position: relative;
	color: #ffffff;
	/*transform: translateX(-50%) ;*/
	margin: 15px;
    margin-bottom:0;
    margin-top:10px;
	font-family: 'Fredoka One', cursive;
	font-size: 14px;

}
span.inp{
    cursor:pointer;
    display:inline-block;
	position: relative;
	color: #ffffff;
	text-decoration: underline;
	/*transform: translateX(-50%) ;*/
	margin: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: 'Fredoka One', cursive;
	font-size: 14px;

}
#RegBTN{
	cursor: pointer;
	position: fixed;
	transform: translateX(-50%) translateY(-50%);
	left: 150px;
	top: 265px;
	width: 275px;
	height: 50px;
	text-align: center;
	color: #ffffff;
	background-color: rgba(0,0,0,0.2);
	font-family: 'Fredoka One', cursive;
	font-size: 24px;
	border-radius: 4px;
	border:0;outline:0;
	border: none;
}
#LoginBTN{
	cursor: pointer;

    position:relative;
	margin-left: 15px;

	width: calc(100% - 30px);
	height: 125px;
	text-align: center;
	color: #ffffff;
	background-color: rgba(0,0,0,0.2);
	font-family: 'Fredoka One', cursive;
	font-size: 48px;
	border-radius: 4px;
	border:0;outline:0;
	border: none;
}
#LoginBTN:hover{
	background-color: rgba(0,0,0,0.5);
}
#PlayBTN{
	cursor: pointer;

    position:relative;
	margin-left: 15px;

	width: calc(100% - 30px);
	height: 125px;
	text-align: center;
	color: #ffffff;
	background-color: rgba(0,0,0,0.2);
	font-family: 'Fredoka One', cursive;
	font-size: 48px;
	border-radius: 4px;
	border:0;outline:0;
	border: none;
}
#PlayBTN:hover{
	background-color: rgba(0,0,0,0.5);
}
#SelBTN{
	cursor: pointer;
	position:absolute;
    top:50%;
    left:50%;
	transform: translateX(-50%) translateY(-50%);

	width: 275px;
	height: 50px;
	text-align: center;
	color: #ffffff;
	background-color: rgba(0,0,0,0.5);
	font-family: 'Fredoka One', cursive;
	font-size: 24px;
	border-radius: 4px;
	border:0;outline:0;
	border: none;
}
#SelBTN:hover{
	background-color: rgba(0,0,0,0.5);
}
#RegBTN:hover{
	background-color: rgba(0,0,0,0.5);
}
.unselectable {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.scrollbar{
	overflow-y: scroll ;
}
.scrollbar::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;        /* цвет дорожки */
}
.scrollbar::-webkit-scrollbar-thumb {
cursor:pointer;
  background-color: #ffffff88;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
	/*margin: 3px;*/
  /*border: 3px solid transparent;  !* padding вокруг плашки *!*/
}
.scrollbar::-webkit-scrollbar-thumb:hover{
  background-color: #ffffffff;    /* цвет плашки */
}
#NEbar{
	position:fixed;
	z-index: 20;
	right: 5px;
	top: 5px;

}
#GMbar{
	position:fixed;

	right: 5px;
	top: 5px;

}
.NEbar {
    position:fixed;
	cursor: pointer;
	right:10px;
	z-index:10;
	padding:5px;
	border-radius: 5px;
	margin-bottom: 5px;
	width: 40px;
	height: 40px;
	background-color: rgba(0,0,0,0.2);
	display:block;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-origin: content-box;
}

.NEbar:hover {

	background-color: rgba(0,0,0,0.5);
}


#TitleCannon{
	width: 100px;
	height: 100px;
	position: fixed;
	top:50%;
	z-index: 50;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	animation-name: rotation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotation{

0%{
	transform: translateX(-50%) translateY(-50%) rotate(0deg);
}
	50%{
transform: translateX(-50%) translateY(-50%) rotate(180deg);
}
100%{
transform: translateX(-50%) translateY(-50%) rotate(360deg);
}
}
@keyframes titlescrh{

0%{
	transform: none;
}

100%{
transform:  translateY(-100%) translateY(-5px);
}
}
@keyframes titlescrs{

0%{
	transform: translateY(-100%) translateY(-5px);
}

100%{
transform:  none;
}
}
#TitleScreen{
	animation-iteration-count: 1;
		z-index: 50;
	/*color: #fd7ac0;*/
	background-color: #2879AD;
	outline: 5px rgba(0,0,0,0.2) solid;
	transform: none;
	width: 100%;
	position: fixed;
	height: 100%;
	/*animation-name: none;*/
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
}
.titlescrh{
	animation-name: titlescrh;
}
.titlescrs{
	animation-name: titlescrs;
}
#LoadingTitle{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) translateY(50px);
	animation-duration: 1.5s;
	animation-name: titletxt;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}
#IslesTitle{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) translateY(-100px);
	animation-duration: 1.5s;
	animation-name: titletxt;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}
@keyframes titletxt{
	0%{
		color: #323232;
	}
	49%{
		color: #323232;
	}
	51%{
	color: #ff4400;
	}
	100%{
	color: #ff4400;
	}
}


.hidden{
display: none;
}

/* HIDE RADIO */

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
    opacity: 25%;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    height: 200px;
    border-radius:5px;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    opacity: 100%;
    border: 5px solid #fff;
    border-radius:2px;
}
#navpanfxd{
position :fixed;
width: 300px;
border-top-left-radius:5px;
border-top-right-radius:5px;
bottom: 0;
height:80px;
left:50%;
transform: translateX(-50%);
background-color: rgba(0,0,0,0.2);
}

       /* <div id="divServUpdt">
            <img id="imgServUpdt" alt="" src="static\update.svg">
        </div>*/
#divServUpdt{
display: inline-block;
width:30px;
height:30px;
margin-left: 15px;
margin-top: 10px;
border-radius:5px;
cursor:pointer;
background:rgba(0,0,0,0.2);
}
#divServUpdt:hover{
background:rgba(0,0,0,0.5);
}
#imgServUpdt{
width: 30px;
height: 30px;
}
#ServerTab1:checked ~ select {
    display:inline-block !important;
}
#ServerTab2:checked ~ #ServerAddress {
    display:inline-block !important;
}
.ServerTab{
z-index: 1000;
}
input.ServerTab{
z-index: 1000;
display:inline;
}
label.ServerTab{
display:inline-block;
position: relative;
bottom:7px;

border-radius: 5px;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    font-size: 1.5em;
    cursor:pointer;
	font-family: 'Fredoka One', cursive;
	color:rgba(255,255,255,0.8);

	text-align: center;
}
#ServerTab1:checked ~ label[for="ServerTab1"]{
background:rgba(0,0,0,0.2);
color: rgba(255,255,255,1);

}
#ServerTab2:checked ~ label[for="ServerTab2"]{
background:rgba(0,0,0,0.2);
color: rgba(255,255,255,1);

}
label.ServerTab:hover{
color:rgba(255,255,255,1);
}
#ServerAddress{
	background-color: rgba(0,0,0,0.2);
	border:none;
	color: #ffffff;
	padding: 5px;
	display:none;
	border-radius: 5px;
	margin-left: 15px;
	width: 260px;
	/*transform: translateX(-50%);*/
	font-size: 24px;
	font-family: 'Fredoka One', cursive;

}

#ServerAddress:focus{
	border:none;
	outline: none;
	background-color: rgba(0,0,0,0.3);

}



#UpdateName{
    display:inline;
    position: fixed;
    z-index: 6;
    top: calc(50% - 200px);
    left: 0;
    text-align: center;
    left:50%;
    transform: translateX(-50%);
}

#MoneyNum{
	position:fixed;
	z-index: 20;
	right: 70px;
	top: 5px;
	padding:5px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.2);
	font-family: 'Fredoka One', cursive;
	font-size: 16px;
	color:#fff;
	display: flex;
	/*display: inline-block;*/
}
#MoneyNum >img{
	width: 20px;
	height: 20px;
}
#MoneyNum >b{
	margin-left: 5px;
	/*float: right;*/
}