#chkInterfaceHide:checked ~ .interface{
    display: none !important;
}
#chkInterfaceHide:checked ~ .ammonum{
    display: none !important;
}

#player-modules-canvas{

}

#player-modules-div{
position:fixed;
bottom:15px;
right:15px;
background: rgba(0,0,0,0.2);
border-radius: 50%;
}

div.indicator div.ceil{
	font-size: 30px;
	display: block;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	color: #fff;

	padding-left:5px;
	text-align: right;
}
#indicators{
    display: flex;
	flex-direction: row;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
}

div.indicator img{
	width: 32px;
	height: 32px;
	display: inline-block;
}
div.indicator{

	border-radius: 5px;
	padding: 5px;
	margin:5px;
	color: #fff;
	background-color: rgba(0,0,0,0.2);
	display: flex;
	flex-direction: row;


}
#Zones{
	position: absolute;
	font-size: 20px;
	padding: 5px;
	width: 120px;
	top:20px;
	text-align:center;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	color: #000;

}
.Zone{

position:relative;
border: solid 2px #000;
border-radius: 50%;
width:20px;
height:20px;
display: inline-block;
margin-left:2px;
margin-right:2px;
}
#HPNum{
	position: absolute;
	font-size: 20px;
	padding: 5px;
	width: 120px;
	top:20px;
	text-align:center;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	color: #00ff00;
	background-color: #181818;
	border: 5px solid #888888;
	/*border-radius: 10px;*/
}

#DirNum{
display:none;
}
#XNum{
display:none;
}
#YNum{
display:none;
}
.Sensor{
	font-size: 20px;
	/*padding: 10px;*/
	padding: 5px;
	width: 80px;
    margin: 10px;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	color: #00ff00;
	background-color: #181818;
	border: 5px solid #888888;
}
#Sensors{
position: absolute;
top: 15px;
left:15px
}
.NumAmmo0{
right: -110px;
}
.NumAmmo{
right: 5px;
}
.ammonum{
	text-align: right;

	font-family: 'ZCOOL QingKe HuangYou', cursive;
	color: #00ff00;
	background-color: #181818;
	border: 5px solid #888888;
	font-size: 16px;
	/*padding: 10px;*/
	padding: 5px;
	width: 80px;
}
#Num120{
	position: absolute;
	top: 120px;
}
#Num45{
	position: absolute;
	top: 165px;
}
#Num20{
	position: absolute;
	top: 210px;
}

.ammonum span{
	position: absolute;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	color: #00ff00;
	font-size: 16px;
	left:5px;
}
#Num8{
	position: absolute;

	top: 255px;

}


