#chkInterfaceHide:checked ~ .interface{
    display: none !important;
}
#chkInterfaceHide:checked ~ .ammonum{
    display: none !important;
}

#player-modules-canvas{

}

#player-modules-div{
position:fixed;
bottom:15px;
right:15px;
background: rgba(0,0,0,0.2);
border-radius: 50%;
}

div.indicator div.ceil{
	font-size: 30px;
	display: block;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	color: #fff;

	padding-left:5px;
	text-align: right;
}
#indicators{
    display: flex;
	flex-direction: row;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
}
#upperIndicators{
    display: flex;
	flex-direction: row;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 60px;
}

div.indicator img{
	width: 32px;
	height: 32px;
	display: inline-block;
}
div.indicator{

	border-radius: 5px;
	padding: 5px;
	margin:5px;
	color: #fff;
	background-color: rgba(0,0,0,0.2);
	display: flex;
	flex-direction: row;


}
#Zones{
	position: absolute;
	font-size: 20px;
	padding: 5px;
	width: 120px;
	top:20px;
	text-align:center;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	color: #000;

}
.Zone{

position:relative;
border: solid 2px #000;
border-radius: 50%;
width:20px;
height:20px;
display: inline-block;
margin-left:2px;
margin-right:2px;
}

.animation-repair{
    animation-name: keyframes-repair;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes keyframes-repair {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(60deg);
  }
   100% {
    transform: rotate(0deg);
  }
}